*.RData
*.Rhistory
.ipynb_checkpoints/
__pycache__/
env/
venv/
myvenv/

Boston Survey Data.csv
data/CHI/
data/BOS/
data/ACM Commutes.csv
legacy/*.pbix
**/templates/*.pbix

outputs/
FY18 Chicago Team Placement Schedule.xlsx

webapp/acm_plmt/settings/production.py
webapp/media/documents/inputs/
webapp/media/documents/to_zip/
webapp/oldscript/Untitled.ipynb
webapp/demo_data/
webapp/db.sqlite3
webapp/site_structure.txt
webapp/gdm.txt
webapp/snippets.txt
webapp/gdm_api_key.txt
webapp/Commutes.ipynb
webapp/test.R
webapp/secret.txt
