*.RData
*.Rhistory
*.pbix
.ipynb_checkpoints/*
Boston Survey Data.csv
data/CHI/*
data/BOS/*
data/ACM Commutes.csv

outputs/*
__pycache__/*
FY18 Chicago Team Placement Schedule.xlsx

webapp/procedure/__pycache__/*
webapp/procedure/migrations/*

webapp/acm_plmt/__pycache__/*
webapp/acm_plmt/settings/production.py

webapp/media/documents/inputs
webapp/media/documents/outputs
webapp/media/documents/to_zip
webapp/oldscript/Untitled.ipynb

webapp/.ipynb_checkpoints
webapp/myvenv
webapp/demo_data
webapp/db.sqlite3
webapp/site_structure.txt
webapp/gdm.txt

webapp/snippets.txt

webapp/gdm_api_key.txt

webapp/Commutes.ipynb
webapp/test.R

webapp/secret.txt

