{% load staticfiles %}
<html>
    <head>
        <title>City Year School Placement</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/procedure.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">City Year School Placement</a></h1>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
