{% extends 'procedure/base.html' %}
{% load staticfiles %}
{% block content %}
    <h3>That's it!</h3>

    <p>Your placements finished in <strong>{{ run_time }} minutes</strong>. Download the results:</p>
    <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-success" name="download_placements">Download Placements</button>
            </div>
            {% if commute_ref_present %}
            <div class="form-group">
                <button type="submit" class="btn btn-success" name="download_commutes">Download Commutes</button>
            </div>
            {% endif %}
    </form>

    <div style="text-align:center;">
      <img src="{% static 'procedure/acm_group.png' %}" alt="City Year" width=450px>
    </div>

{% endblock %}
