{% extends 'procedure/base.html' %}

{% block content %}
    <h3>Oops!</h3>

    <p>An error or warning occured. Review the details below, make necessary changes, and return to Step 1 (or continue if possible). For help, reach out to our team at <a href="mailto:acmplacement@CityYear.onmicrosoft.com
">acmplacement@CityYear.onmicrosoft.com</a></p>

    {% if commute_ref_present %}
    <p>Prior to this hiccup, commute calculations finished successfully. Download this spreadsheet and upload it in Step 3 to avoid calculating commutes again.</p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-success" name="download_commutes">Download Commutes</button>
        </div>
    </form>
    {% endif %}

    {% for line in error_list %}
        <p><code>{{ line }}</code></p>
    {% endfor %}

    <form method="link">
      <div class="form-group">
        <input type="button" value="Return to Step 1" class="btn btn-success" onclick="location.href='{% url 'step1' %}'">
      </div>
      {% if continue_bool %}
      <div class="form-group">
        <input type="button" value="Continue" class="btn btn-success" onclick="location.href='{% url continue_to %}'">
      </div>
      {% endif %}
    </form>
{% endblock %}
