{% extends 'procedure/base.html' %}

{% block content %}
    <h3>Run Placements</h3>

    <p>You are placing <strong>{{ n_acms }} ACMs</strong> on <strong>{{ n_schools }} teams</strong>{{ and_text }}. This will take about <strong>{{run_time_mins}} minutes</strong>{{ and_cost_text }}<strong>{{ and_cost }}</strong>. There is a firm runtime limit of 120 minutes.</p>

    <p>When you are ready, click "Run Placements" only once. The process will begin as soon as you press the button. Do not close this page. When the process is done, a new page will load automatically.</p>

    <form method="post" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-success" name="run">Run Placements</button>
        </div>
    </form>
{% endblock %}
