{% extends 'procedure/base.html' %}

{% block content %}
    <p>First let's gather some information about your school partnerships.</p>
    <p>Get the Excel template below and fill in the columns.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn" name="download">Download School Data Template</button>
    </form>

    <p>When you have filled in the template, upload it here.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <input type="file" name="myfile">
        <button type="submit" class="btn" name="upload">Upload School Data and Continue</button>
    </form>

{% endblock %}
