{% extends 'procedure/base.html' %}

{% block content %}
    <h3>Step 1 of 3: School Data</h3>

    <p>Download the Excel template below and fill in the columns. View comments on the column headers to learn how each column affects the placement process.</p>

    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-light" name="download">Download School Data Template</button>
        </form>
    </div>

    <p>After you have filled in the template, upload the file and continue.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="file" name="myfile" class="file">
        </div>

        <div>
            <button type="submit" class="btn btn-success" name="upload">Upload and Continue</button>
        </div>
    </form>

{% endblock %}
