{% extends 'procedure/base.html' %}

{% block content %}
  {% load widget_tweaks %}

  <h3>Step 3 of 3: Set Options</h3>

  <p>Choose your options for how placements are made.</p>

  <form method="post" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {% if field.field.widget.input_type == "checkbox" %}
          {{ field }} {{ field.label_tag }}
          <!-- <input type="{{ field.field.widget.input_type }}"
             id="{{ field.id_for_label }}"
             name="{{ field.html_name }}"
             placeholder="{{ field.label }}"
             maxlength="{{ field.field.max_length }}"> {{ field.label_tag }} </input> -->
        {% else %}
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}


      </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
