{% extends 'procedure/base.html' %}

{% block content %}
  {% load widget_tweaks %}

  <h3>Step 3 of 3: Set Options</h3>

  <p>Choose your options for how placements are made.</p>

  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group" enctype="multipart/form-data">
        {% if field.field.widget.input_type == "checkbox" %}
          {{ field }} {{ field.label_tag }}
        {% else %}
          {% if field.name == "commute_factor" %}
            <h5>Factor Importance</h5>
            <p>Set any factor to 0 to remove it from consideration. Set it to 2 or 3 to place greater weight on that factor.</p>
          {% endif %}
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
        {% endif %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}

    <div class="form-group">
        <button type="submit" class="btn btn-success" name="save">Save and Continue</button>
    </div>
  </form>
{% endblock %}
