{% extends 'procedure/base.html' %}

{% block content %}
    <h3>Welcome</h3>

    <div>
        <p>This web app will walk you through the process of ACM school placement. At this point, you should have results from a corps onboarding survey, and you should be familiar with the information in <a href="https://cityyear.sharepoint.com/:w:/r/teams/ImpactAnalytics/Community/_layouts/15/Doc.aspx?sourcedoc=%7B6433CED2-5A68-4BDF-A82B-A36624B349C3%7D&file=Guide-%20FY19%20ACM%20Placement%20Tool.docx&action=default&mobileredirect=true"> this guide</a>.</p>
    </div>

    <form action="step1">
        <button type="submit" class="btn btn-success">Start Now</button>
    </form>
{% endblock %}
